<div class="welcome">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="game_content">
    <table>
      <tr>
        <th>ID</th>
        <th>Game State</th>
        <th>Date Started</th>
      </tr>
      <% @blackjacks.each do |blackjack| %>
        <tr>
          <td><%= blackjack.id %></td>
          <td><%= blackjack.game_state %></td>
          <td><%= blackjack.created_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
