<div class="welcome">
  <div class="title">
    <h1>My Little Blackjack</h1>
  </div>

  <div class="stats_content">
    <div class="pony"></div>
    <ul class="stats_list">
      <li class="stat">
        <p>Wins: <%= current_user.user_stat.wins %></p>
      </li>
      <li class="stat">
        <p>Losses: <%= current_user.user_stat.losses %></p>
      </li>
    </ul>
  </div>
</div>
