/********************************* FONTS *********************************/

 @font-face {
   font-family: 'equestriaregular';
   src: url(/assets/equestria-webfont.eot);
   src: url(/assets/equestria-webfont.eot?#iefix) format('embedded-opentype'),
        url(/assets/equestria-webfont.woff2) format('woff2'),
        url(/assets/equestria-webfont.woff) format('woff'),
        url(/assets/equestria-webfont.ttf) format('truetype'),
        url(/assets/equestria-webfont.svg#equestriaregular) format('svg');
   font-weight: normal;
   font-style: normal;
 }

 @font-face {
   font-family: 'equestriabold';
   src: url(/assets/equestria_bold-webfont.eot);
   src: url(/assets/equestria_bold-webfont.eot?#iefix) format('embedded-opentype'),
        url(/assets/equestria_bold-webfont.woff2) format('woff2'),
        url(/assets/equestria_bold-webfont.woff) format('woff'),
        url(/assets/equestria_bold-webfont.ttf) format('truetype'),
        url(/assets/equestria_bold-webfont.svg#equestriabold) format('svg');
   font-weight: normal;
   font-style: normal;
 }

/********************************* BASE STYLES *********************************/

body {
  background: white;
}

#content {
  width: 1000px;
  max-width: 1000px;
  min-height: 600px;
  margin: 10px auto;
}

h1, h2, h3 {
  text-align: center;
  padding: 10px;
  font-family: 'equestriabold', sans-serif;
  margin: 0;
}

/********************************* LOGIN STYLES *********************************/

.title {
  h1, h2 {
    color: white;
    text-shadow: 2px 3px 1px #E51982;
  }

  h1 { font-size: 3em; }
  h2 { font-size: 2em; }
}

.welcome {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: image-url("welcome_bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.login {
  margin: auto;
  max-width: 80%;
  min-width: 30%;
  width: auto;
  height: auto;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
  min-height: 100px;
  padding: 20px;

  form {
    text-align: center;
  }

  * {
    margin: 2px;
    padding: 4px;
    font-family: sans-serif;
  }

  label {
    width: 100px;
    display: inline-block;
  }

  input {
    font-size: 16px;

    &[type=submit] {
      padding: 20px;
      font-family: sans-serif;
    }
  }
}

.flash {
  text-align: center;
  font-weight: bold;
  color: #D26337;
}

/********************************* GAME STYLES *********************************/

.game_board {
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-image: image-url("game_bg.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.game_content {
  margin: auto;
  max-width: 80%;
  min-width: 30%;
  width: auto;
  height: 400px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
  min-height: 400px;
  padding: 20px;
}

.scrollable_content {
  height: 300px;
  overflow: scroll;
}

.user_side, .dealer_side {
  width: 49%;
  height: 85%;
  float:left;
}

.actions {
  height: 15%;
  width: 100%;
  background: red;
  display: block;
  text-align: center;

  &.card_actions {
    float: left;
  }

  form {
    display: inline-block;
    margin: 0 6px;
  }
}

.cards {
  margin: auto;
  width: 100%;
}

.playing_card {
  background-image: image-url("cards.png");
  background-size: 1008px auto;
  background-repeat: no-repeat;
  width: 72px;
  height: 100px;
  display: inline-block;
  margin: 0 4px;

  &.card_back {
    background-position: (13 * 7.7%) 80%;
  }
}

@for $i from 0 through 12 {
  .diamonds-#{$i + 1} {
    background-position: ($i * 7.7%) 80%;
  }
  .apples-#{$i + 1} {
    background-position: ($i * 7.7%) 0%;
  }
  .butterflies-#{$i + 1} {
    background-position: ($i * 7.7%) 60%;
  }
  .stars-#{$i + 1} {
    background-position: ($i * 7.7%) 100%;
  }
}

.games_list {
  width: 100%;
  text-align: center;
}

